$color-primary: white;

* {
  margin: 0;
  padding: 0;
  // when set to border-box, the width of the margin and the padding is not included in the entire width of an element
  box-sizing: border-box;
}